* {
    text-decoration: none;

  }
  
  body {
    display: block;
    background-image: url(img/billiards-1677103_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.92;
  }
  
  canvas {
    border-radius: 20px;
    
  }
  
  .description img{
      height: 200px;
      width: 255px;
  }

  
  #sidebar {
    width: 304px;
    height: 574px;
    float: left;
    font-size: 0.825em;
    background-color: rgba(0, 0, 0, 0.658);
    border: 8px solid rgba(255, 8, 8, 0.404);
    padding: 2em;
    border-radius: 20px;
    user-select: none;
  }
  
  #sidebar h2 {
    color: white;
    text-align: center;
    margin: 0;
  }
  
  #sidebar .parts {
    padding-left: 1em;
    list-style-type: none;
    text-align: right;
  }
  
  #sidebar .parts li a {
    color: white;
    text-decoration: none;
  }
  
  #sidebar .parts li a:visited {
    color: white;
  }
  
  #sidebar .parts li a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #sidebar .parts li a.selected {
    color: #f6f8f6;
    font-size: 2em;
  }
  
  #sidebar .parts li a i {
    color: #AAA;
  }
  
  #sidebar .parts li a.selected i {
    color: #F08010;
  }
  
  #sidebar .settings {
    line-height: 1.2em;
    height: 1.2em;
    text-align: right;
    color: beige;
  }

  #sidebar .description {
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
    font-size: 0.90rem;
  }
  
  #sidebar .description b {
    font-weight: normal;
    color: rgba(238, 255, 4, 0.534);
  }
